@model Solution.Presentation.Models.Post.NewPostModel


@*<div  style="width:70%;margin-left:15%;">


        </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script>


    </script>*@

<div class="col-lg-6 mx-auto text-center">
    <div class="header-title">
        <h3 class="wv-heading--title">
            Add Post
        </h3>

    </div>
</div>
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>@Model.ForumName</h2>
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()



                        <div class="group-input">

                            @Html.HiddenFor(model => model.ForumId, new { @Value = @Model.ForumId })
                            @Html.TextBoxFor(model => model.Title, new { @placeholder = "Title..." })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                        </div>

                        <div class="group-input">

                            @Html.TextArea("Content", null, new { @class = "form-control my-input", rows = "5",@placeholder="Content..." })
                            @Html.ValidationMessageFor(model => model.ForumImageUrl, "", new { @class = "text-danger" })
                        </div>

                        <div class="group-input">
                            @Html.LabelFor(model => model.ImagePath)<br />

                            @Html.TextBoxFor(m => m.ImageFile, new { type = "file" })

                        </div>

                        <div class="text-center">
                            <input type="submit" value="Add  Post" class="site-btn register-btn" />
                        </div>
                        
                        


                    }


                <div class="switch-login">
                    <a class="btn btn-block g-button" href="/Forum/Topic/?id=@Model.ForumId">
                        Back To Posts
                    </a>
                </div>
                </div>

            </div>

        </div>
    </div>
</div>